<section class="content">
  {{#if showingSearch}}
    {{#if searchResults}}
      <h1>Submissions that match your search:</h1>
      <article id="results">

      
      <ul>
        {{#each searchResults}}
          <li>
            <h2><a href="/posts/{{title}}">{{title}}</a></h2>
            <h3>Topic: {{topic}}</h3>
            <h4>Published by: <a href="/users/{{username}}">{{username}}</a></h4>
            <h4>{{creation_date}}</h4>
            <hr>
            <a href="{{url}}" target="_blank">Link to study material</a>
            {{#if isCreator}}
<section id="changePost">
            <a href="/posts/{{title}}/edit"><button><i id="edit" class="fa-solid fa-pen"></i></button></a>
            <a href="/posts/{{title}}/delete"><button ><i id="delete" class="fa-solid fa-trash"></i></a></button></a>
          </section>
            {{/if}}
          </li>
        {{/each}}
      </ul>
      </article>
    {{else}}
      <h1>No submissions match your search.</h1>
    {{/if}}
    <a href="/allResources"><button>See all submissions</button></a>
  {{else}}

    <h1>All currently available study materials</h1>
    {{#if studyMaterials}}
    <article id="results">
       <ul>
        {{#each studyMaterials}}
          <li>
            <h2><a href="/posts/{{title}}">{{title}}</a></h2>
            <h3>Topic: {{topic}}</h3>
            
            <h4>Published by: <a href="/users/{{username}}">{{username}}</a></h4>
            <h4>{{creation_date}}</h4>
            <hr>
            <a href="{{url}}" target="_blank">Link to study material</a>
            
            {{#if isCreator}}
<section id="changePost">
            <a href="/posts/{{title}}/edit"><button><i id="edit" class="fa-solid fa-pen"></i></button></a>
            <a href="/posts/{{title}}/delete"><button ><i id="delete" class="fa-solid fa-trash"></i></a></button></a>
          </section>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </article>
    
      

    {{else}}
      <h1>There are no study materials available right now.</h1>
    {{/if}}
  {{/if}}
</section>