{{!-- <menu>
<form id="logout" action="/myAccount" method="post">
    <button type="submit">Log out</button>
  </form>

  <a href="/users/{{user}}/delete"><button id="deleteAccount" type="submit">Delete account</button></a>
    
  
</menu> --}}

<div id="accSettings">
  <p>Account settings <i class="fa-solid fa-arrow-down"></i> </p>
  <menu id="dropdown">
    <form id="logout" action="/myAccount" method="post">
    <button type="submit">Log out</button>
  </form>
    <a href="/users/{{user}}/delete"><button id="deleteAccount" type="submit">Delete account</button></a>
    
    </menu>
</div>
<section class="content">
  <h1>Hello, {{user}}</h1>
  {{#if submissions}}

    <ul>
      <h1>Your contributions:</h1>
      {{#each submissions}}
        <li>
         <h2><a href="/posts/{{title}}">{{title}}</a></h2>
          <h2>Topic: {{topic}}</h2>
          <h3>{{creation_date}}</h3>
          <hr />
          <a href="{{url}}" target="_blank">Link to study material</a>
          <section id="changePost">
            <a href="/posts/{{title}}/edit"><button><i id="edit" class="fa-solid fa-pen"></i></button></a>
            <a href="/posts/{{title}}/delete"><button ><i id="delete" class="fa-solid fa-trash"></i></a></button></a>
            
          </section>

        </li>
      {{/each}}
    </ul>
  {{else}}
    <h3>You haven't posted any study materials yet.</h3>
    <a href="/postResource"><button>Contribute by sharing a study resource</button></a>
  {{/if}}
  
</section>