<section class="content">
  {{#each userInfo}}

    <div id="userInfo">
<h1>{{username}}'s account</h1>
    <h3>Active since: {{creation_date}}</h3>
    <h2>Have a question that {{username}} could answer?</h2>
    <h3>Contact them <a href="mailto:{{email}}"><i class="fa-solid fa-envelope"></i></a></h3>
    
    </div>
    
    
  {{/each}}


  {{#if userSubmissions}}
      <ul>
        <h1>Their contributions</h1>
        {{#each userSubmissions}}
          <li>
            <h2><a href="/posts/{{title}}">{{title}}</a></h2>
            <h3>Topic: {{topic}}</h3>
            
            <h4>{{creation_date}}</h4>
            <hr />
            <a href="{{url}}" target="_blank">Link to study material</a>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <h2>No contributions yet.</h2>
    {{/if}}
</section>