<section class="content">
    {{#if postInfo}}
        {{#each postInfo}}
        <article>
            <h1>{{title}}</h1>
            <h2>Topic: {{topic}}</h2>
            <h2>Posted by <a href="/users/{{username}}">{{username}}</a></h2>
            <h2>Description:</h2>
            <h3>{{description}}</h3>
            <h3>{{creation_date}}</h3>
            <hr>
            <a href="{{url}}" target="_blank">Link to the study material</a>
        </article>
        {{/each}}
    {{else}}
    <h1>The submission you are looking for was not found.</h1>

    {{/if}}
</section>