<section class="content">
  {{!-- {{#each userInfo}} --}}

  <div id="userInfo">
    <h1 class="title">{{userInfo.username}}'s page</h1>

     <article class="userInfo">
    <div id="leftSide">
      <i class="fa-solid fa-user"></i>
      <p>Username: {{userInfo.username}}</p>
      <p>Email: {{userInfo.email}}</p>
      <p>Account creation date: {{userInfo.creation_date}}</p>
    </div>
    <div id="rightSide">
       <h2>Have a question that they could answer?</h2>
    
      <a href="mailto:{{userInfo.email}}"><i
          class="fa-solid fa-envelope"
        ></i></a>
    </div>


  </article>
    
   

  </div>

  {{!-- {{/each}} --}}

  {{#if userSubmissions}}
    <h1 class="title">Contributions</h1>
    <div id="results">
    <ul>
      
      {{#each userSubmissions}}
        <li class="resource">
          <h2><a href="/posts/{{title}}">{{title}}</a></h2>
          <h3>Topic: {{topic}}</h3>

          <h4>{{creation_date}}</h4>
          <hr />
            <a href="{{url}}" target="_blank"><p>Link to study material</p></a>
            <a href="{{url}}" target="_blank"><i class="fa-solid fa-link"></i></a>
        </li>
      {{/each}}
    </ul>
    </div>
  {{else}}
    <h2>No contributions yet.</h2>
  {{/if}}
</section>